<div>
    <form ng-submit="">
        <div class="row g-3 form-control d-flex justify-content-between w-50 m-auto">
            <div class="col-auto d-flex justify-content-between w-50">
                <label for=""> First Name </label>
                <input type="text" ng-model="" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for=""> Last Name </label>
                <input type="text" ng-model="" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Phone Number</label>
                <input type="text" ng-model="" maxlength="10">
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Email</label>
                <input type="email" ng-model="">
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Address Line 1</label>
                <input type="text" ng-model="">
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Address Line 2</label>
                <input type="text" ng-model="">
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">City</label>
                <input type="text" ng-model="">
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">State</label>
                <input type="Text" ng-model="">
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Country</label>
                <input type="text" ng-model="">
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">State Code</label>
                <input type="text" ng-model="">
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Zipcode</label>
                <input type="text" ng-model="">
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Zipcode</label>
                <input type="text" ng-model="">
            </div>
            <input class="btn btn-primary" type="submit" name="updateEnterpriseFormData" value="Add User" />
        </div>
    </form>
</div>