<div ng-controller="addPhysicianNurseCtrl">
    <div ng-include="'view/header.html'"></div>
    <div ng-include="'view/header2.html'"></div>
    <div>
        <h1 class="text-center">Add Nurse</h1>
    </div>
    <form ng-submit="addNurse()">
        <div class="row g-3 form-control d-flex justify-content-between w-50 m-auto">
            <div class="col-auto d-flex justify-content-between w-50">
                <label for=""> First Name </label>
                <input type="text" ng-model="addNurseData.firstName" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for=""> Last Name </label>
                <input type="text" ng-model="addNurseData.lastName" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for=""> Middle Name </label>
                <input type="text" ng-model="addNurseData.middleName" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Occupation Type </label>
                <input type="text" ng-model="addNurseData.occupationType" required>
            </div>
            <!-- <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Created On</label>
                <input type="text" ng-model="addNurseData.createdOn" required>
            </div> -->
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Job Title</label>
                <input type="text" ng-model="addNurseData.jobTitle" required>
            </div>
            <!-- <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Work Number</label>
                <input type="text" ng-model="addNurseData.workPhone" required>
            </div> -->
            <!-- <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Mobile Number</label>
                <input type="text" ng-model="addNurseData.mobilePhone" required>
            </div> -->
            <!-- <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Password</label>
                <input type="password" ng-model="addNurseData.password" required>
            </div> -->
            <input class="btn btn-primary" type="submit" name="addNurseData" value="Add Nurse"/>
        </div>
    </form>
</div>