<div ng-controller="addPhysicianNurseCtrl">
    <div ng-include="'view/header.html'"></div>
    <div ng-include="'view/header2.html'"></div>
    <div>
        <h1 class="text-center">Add Nurse</h1>
    </div>
    <form ng-submit="addNurse()">
        <div class="row g-3 form-control  justify-content-between w-50 m-auto">
            <div class="flex-column w-50">
                <label for=""> First Name </label>
                <input type="text" ng-model="addNurseData.firstName" required>
            </div>
            <div class="flex-column w-50">
                <label for=""> Last Name </label>
                <input type="text" ng-model="addNurseData.lastName" required>
            </div>
            <div class="flex-column w-50">
                <label for=""> Middle Name </label>
                <input type="text" ng-model="addNurseData.middleName" required>
            </div>
            
            <input class="btn btn-primary text-center" type="submit" name="addNurseData" value="Add Nurse"/>
        </div>
    </form>
</div>