<div ng-controller="clp">
    <div ng-include="'view/header.html'"></div>
    <div ng-include="'view/header2.html'"></div>
    <div class="container">
        <h2 class="text-center">Add To Inventory</h2>
        <label for="">Serial Number :</label>
        <input type="number" ng-model="demodata" ng-change="" id="serialNumbersInventory">
        <datalist id="serialNumbersInventory">
            <option ng-repeat="x in serialNumbersShipped">{{x.serialId}}</option>
        </datalist>
        <table class="table table-striped table-bordered text-center mt-5">
            <thead class="clinics ">
                <tr>
                    <th>Serial Id</th>
                    <th>Patient Specification</th>
                    <th>Serial Number</th>
                    <th>Product Id</th>
                    <th>Serial Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in serialNumbersShipped">
                    <td class="p-3">{{x.serialId}}</td>
                    <td class="p-3">{{x.patientSpecific}}</td>
                    <td class="p-3">{{x.serialNumber}}</td>
                    <td class="p-3">{{x.productId}}</td>
                    <td class="p-3">{{x.serialStatus}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <input type="button" class="btn btn-danger float-right" value="Add To Inventory">
        </div>
    </div>
</div>