<div ng-controller="clp">
    <div class="isDisabled">
        <div ng-include="'view/header.html'"></div>
    </div>
    <div ng-include="'view/header2.html'"></div>
    <div class="isDisabled">
        <div class="container w-100">
            <h1 class="text-center mt-2">Administrator Settings</h1>
            <div class="container mt-5">
                <div class="administrator d-flex justify-content-around p-2 ">

                    <div class="flex-column w-50 mx-5 ">
                        <div class="d-flex justify-content-between">
                            <h2>Physician </h2>
                            <a href="#!addPhysician" class="mt-2 text-danger text-decoration-none"> + Add Physician</a>
                        </div>
                        <hr>
                        <table id="doctorTable" class="table table-striped text-center">
                            <thead class="thead">
                                <tr>
                                    <th class="px-3">Physician Name</th>
                                    <th class="px-3">Edit</th>
                                    <th class="px-3">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in physician_data">
                                    <td>{{x.firstName}}</td>
                                    <td><i class="fa-regular fa-pen-to-square link-danger"></i></td>
                                    <td><i class="fa-regular fa-circle-xmark link-danger"></i></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex-column w-50 mx-5">
                        <div class="d-flex justify-content-between">
                            <h2>Nurse </h2>
                            <a href="#!addNurse" class="mt-2 text-danger text-decoration-none"> + Add Nurse</a>
                        </div>
                        <hr>
                        <table id="doctorTable" class="table table-striped text-center">
                            <thead class="thead">
                                <tr>
                                    <th class="px-3 ">Nurse Name</th>
                                    <th class="px-3 ">Edit</th>
                                    <th class="px-3 ">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="y in nurse_data">
                                    <td>{{y.firstName}}</td>
                                    <td><i class="fa-regular fa-pen-to-square link-danger "></i></td>
                                    <td><i class="fa-regular fa-circle-xmark link-danger "></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                </div>

            
            <div class="d-grid">
                <div class="row">
                    <div class="col-6" >
                <h2 >Dispense Restrictions </h2>
                </div>
                <div class="col-6">
                <button class="btn btn-warning  " style=" letter-spacing: 2px;color: black; float: right;" onclick="editFunction()">Edit</button>
              
                </div>
                </div>
                <div id="editDropdown" class="row">
                    <div class="d-flex justify-content-end">
                        <form  style="border: 2px groove rgb(228, 223, 223);">
                            <table class="table table-striped ">
                                <thead class="bg-info">
                                    <tr>
                                        <th>Dose</th>
                                        <th> Minimum Days</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr ng-repeat="x in product_data">
                                    <td >{{x.productName}} </td>
                                    <td><input type="number" min="0"  ng-model="x.minimumDays"required></td>
                                </tr>
                                </tbody>
                                
                            </table>
                            <div class="text-center mb-2">
                            <input type="button" class="btn btn-info" ng-click="editMinimumDays()" value="Save">
                        </div>
                        </form>
                        
                    </div>
                    </div>
            
        
            <table id="" class="table table-striped text-center mt-2 ">
                <thead class="thead">
                    <tr>
                        <th class=" ">Dose</th>
                        <th class="">Minimum Days</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in product_data">
                        <td>{{x.productName}}</td>
                        <td>{{x.minimumDays}}</td>

                    </tr>
                </tbody>
            </table>
               
            </div>
            <div class="d-grid">
                <div class="row">
                    <div class="col-6" >
                <h2>Reorder Settings</h2>
                </div>
                <div class="col-6">
                <button class="btn btn-info " style=" letter-spacing: 2px;color: black; float: right;" onclick="reorderFunction()">Edit</button>
              
                </div>
                </div>
                <hr>
                <div id="reorderDropDown" class="row">
                    <div class="d-flex justify-content-end">
                        <form  style="border: 2px groove rgb(228, 223, 223);">
                            <table class="table table-striped ">
                                <thead class="bg-warning">
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Low Inventory Alerts</th>
                                        <th class="">Alert Quantity</th>
                                        <th class="">In-System</th>
                                        <th class="">Email</th>

                                    </tr>
                                </thead>
                                <tbody >
                                  
                                </tbody>
                                
                            </table>
                            <!-- <div class="text-center mb-2">
                            <input type="button" class="btn btn-info" ng-click="editMinimumDays()" value="Save">
                        </div> -->
                        </form>
                        
                    </div>
                    </div>
            
        
            <table id="" class="table table-striped text-center mt-2 ">
                <thead class="thead">
                    
                    <tr>
                        <th class="">Product Name</th>
                        <th class="">Low Inventory Alerts</th>
                        <th class="">Alert Quantity</th>
                        <th class="">In-System</th>
                        <th class="">Email</th>
                        <th class="">9-2022</th>
                        <th class="">10-2022</th>
                        <th class="">11-2022</th>
                        <th class="">12-2022</th>
                        <th class="">01-2023</th>
                        <th class="">02-2023</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in product_data">
                        <td>{{x.productName}}</td>
                        

                    </tr>
                </tbody>
            </table>
               
            </div>
            </div>
        </div>
        </div>
    </div>

</div>