<div ng-controller="clp">
    <div class="isDisabled">
        <div ng-include="'view/header.html'"></div>
    </div>
    <div ng-include="'view/header2.html'"></div>
    <div class="isDisabled">
        <div class="container w-100">
            <h1 class="text-center mt-2">Administrator Settings</h1>
            <div class="container mt-5">
                <div class="administrator d-flex justify-content-around p-2 ">

                    <div class="flex-column w-50 mx-5 ">
                        <div class="d-flex justify-content-between">
                            <h2>Physician </h2>
                            <a href="#!addPhysician" class="mt-2 text-danger text-decoration-none"> + Add Physician</a>
                        </div>
                        <hr>
                        <table id="doctorTable" class="table table-striped text-center">
                            <thead class="thead">
                                <tr>
                                    <th class="px-3">Physician Name</th>
                                    <th class="px-3">Edit</th>
                                    <th class="px-3">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in physician_data">
                                    <td>{{x.firstName}}</td>
                                    <td><i class="fa-regular fa-pen-to-square link-danger"></i></td>
                                    <td><i class="fa-regular fa-circle-xmark link-danger"></i></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex-column w-50 mx-5">
                        <div class="d-flex justify-content-between">
                            <h2>Nurse </h2>
                            <a href="#!addNurse" class="mt-2 text-danger text-decoration-none"> + Add Nurse</a>
                        </div>
                        <hr>
                        <table id="doctorTable" class="table table-striped text-center">
                            <thead class="thead">
                                <tr>
                                    <th class="px-3 ">Nurse Name</th>
                                    <th class="px-3 ">Edit</th>
                                    <th class="px-3 ">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="y in nurse_data">
                                    <td>{{y.firstName}}</td>
                                    <td><i class="fa-regular fa-pen-to-square link-danger "></i></td>
                                    <td><i class="fa-regular fa-circle-xmark link-danger "></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                </div>

            
            <div class="d-grid">
                <div class="row">
                    <div class="col-6" >
                <h2 >Dispense Restrictions </h2>
                </div>
                <div class="col-6">
                <button class="btn btn-warning  " style=" letter-spacing: 2px;color: black; float: right;">Edit</button>
              
                </div>
                </div>
                <div id="" class="row">
                    <div class="d-flex justify-content-end">
                        <form>
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th>Dose</th>
                                        <th> Minimum Days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in product_data">
                                    <td>{{x.productName}}</td>
                                    <td><input type="number" min="0" ng-value="{{x.productName}}"required></td>
                                </tr>
                                </tbody>
                                
                            </table>
                            <div class="text-center">
                            <button type="button" class="btn btn-success  "  >Update</button>
                        </div>
                        </form>
                        
                    </div>
                    </div>
            
        
            <table id="" class="table table-striped text-center mt-2 ">
                <thead class="thead">
                    <tr>
                        <th class=" ">Dose</th>
                        <th class="">Minimum Days</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in product_data">
                        <td>{{x.productName}}</td>
                        <td>{{x.minimumDays}}</td>

                    </tr>
                </tbody>
            </table>
                <div class="modal fade" id="editDispense" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog " style="width: 30%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label">Dose :</label>
                                    <input type="text" class="" autocomplete="off" style="height: 50px; width: 70%;"  id="recipient-name"  >
                                </div>
                                <div class="form-group mt-3 d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label ">Minimum Days :</label>
                                    <input type="text" class="" autocomplete="off" style="height: 50px; width: 70%;"  id="recipient-name"  >


                                    <!-- <label for="dropdownTab" class="text-dark mx-1 d-flex align-items-center">
                                        Minimum Days:
                                    </label>
                                    <select class="" style="height: 50px; width: 82%;" ng-model="linkData.url">
                                        <option label="Select a Link" class="d-none "></option>
                                        <option class="" value="#!insertPatient">Add Patient</option>
                                        <option class="" value="#!orders">Ordering</option>
                                        <option class="" value="#!addPhysician">Add Physician</option>
                                        <option class="" value="#!addNurse">Add Nurse</option>
                                    </select> -->
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="saveLinks()" data-bs-dismiss="modal">Save</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

</div>