<div ng-controller="clp">
    <div class="isDisabled">
        <div ng-include="'view/header.html'"></div>
    </div>
    <div ng-include="'view/header2.html'"></div>
    <div class="isDisabled">
        <div class="container w-100">
            <h1 class="text-center mt-2">Administrator Settings</h1>
            <div class="container mt-5">
                <div class="administrator d-flex justify-content-around ">

                    <div class="flex-column w-50 " style="padding-right: 30px;">
                        <div class="d-flex justify-content-between">
                            <h2>Physician </h2>
                            <a href="#!addPhysician" class="mt-2 text-danger text-decoration-none"> + Add Physician</a>
                        </div>
                        <hr>
                        <table id="doctorTable" class="table table-striped text-center">
                            <thead class="thead">
                                <tr>
                                    <th class="px-3">Physician Name</th>
                                    <th class="px-3">Edit</th>
                                    <th class="px-3">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in physician_data">
                                    <td>{{x.firstName}}</td>
                                    <td><i class="fa-regular fa-pen-to-square link-danger"></i></td>
                                    <td><i class="fa-regular fa-circle-xmark link-danger"></i></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex-column w-50 " style="padding-left: 30px;">
                        <div class="d-flex justify-content-between">
                            <h2>Nurse </h2>
                            <a href="#!addNurse" class="mt-2 text-danger text-decoration-none"> + Add Nurse</a>
                        </div>
                        <hr>
                        <table id="doctorTable" class="table table-striped text-center">
                            <thead class="thead">
                                <tr>
                                    <th class="px-3 ">Nurse Name</th>
                                    <th class="px-3 ">Edit</th>
                                    <th class="px-3 ">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="y in nurse_data">
                                    <td>{{y.firstName}}</td>
                                    <td><i class="fa-regular fa-pen-to-square link-danger "></i></td>
                                    <td><i class="fa-regular fa-circle-xmark link-danger "></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="d-grid">
                    <div class="row">
                        <div class="col-6">
                            <h2>Dispense Restrictions </h2>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-warning  " style=" letter-spacing: 2px;color: black; float: right;"
                                data-bs-toggle="modal" data-bs-target="#editDispenseRestrictions">Edit</button>

                        </div>
                    </div>

                    <table id="" class="table table-striped text-center mt-2 ">
                        <thead class="thead">
                            <tr>
                                <th class=" ">Dose</th>
                                <th class="">Minimum Days</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in product_data">
                                <td>{{x.productName}}</td>
                                <td>{{x.minimumDays}}</td>

                            </tr>
                        </tbody>
                    </table>

                    <div class="modal fade" id="editDispenseRestrictions" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog " style="width: 35%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Dispense Restrictions</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <table class="table table-striped ">
                                            <thead class="thead">
                                                <tr>
                                                    <th>Dose</th>
                                                    <th> Minimum Days</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in product_data">
                                                    <td>{{x.productName}} </td>
                                                    <td><input type="number" min="0" ng-model="x.minimumDays" required>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" ng-click="editMinimumDays()"
                                        data-bs-dismiss="modal">Save</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <hr>
                <div class="d-grid mt-4">
                    <div class="row">
                        <div class="col-6">
                            <h2>Reorder Settings</h2>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-info " style=" letter-spacing: 2px;color: black; float: right;"
                                data-bs-toggle="modal" data-bs-target="#autoManualTable">Edit</button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">Reorder:</div>
                        <!-- <div class="col-2 form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" id="tableSwitch"  data-bs-target="#autoTable,#manualTable" data-bs-toggle="collapse" ></div> -->

                    </div>
                    <table id="" class="table table-striped  text-center mt-2  ">
                        <thead class="thead">
                            <tr>
                                <th colspan="11" style="padding-left: 75%; border: none;">USAGE OVER LAST 6 MONTHS</th>
                            </tr>

                            <tr>
                                <th class="">Product Name</th>
                                <th class="">Reorder Point</th>
                                <th class="">Reorder Quantity</th>
                                <th class="">Add on Dose</th>
                                <th class="">Add on Quantity</th>
                                <th class="">10-2022</th>
                                <th class="">11-2022</th>
                                <th class="">12-2022</th>
                                <th class="">01-2023</th>
                                <th class="">02-2023</th>
                                <th class="">03-2023</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="y in dispenseDoseTable ">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{y.usgaeInOctober}}</td>
                                <td>{{y.usageInNovember}}</td>
                                <td>{{y.usageInDecember}}</td>
                                <td>{{y.usageInJanuary}}</td>
                                <td>{{y.usageInFebruary}}</td>
                                <td>{{y.usageInMarch}}</td>
                            </tr>
                            <tr style="background-color: rgb(209, 231, 249);">
                                <td colspan="5" style="padding-left: 700px;">Usage over Time Totals:</td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="" class="table table-striped  text-center mt-5 ">
                        <thead class="thead">
                            <tr>
                                <th colspan="2" style="padding-left: 40%;border: none;">Low Inventory</th>
                                <th colspan="3" style="padding-left: 18%; border: none;">Notifications</th>
                                <th colspan="11" style="border: none;">USAGE OVER LAST 6 MONTHS</th>
                            </tr>

                            <tr>
                                <th class="">Product Name</th>
                                <th class="">Low Inventory Alerts</th>
                                <th class="">Alert Quantity</th>
                                <th class="">In System</th>
                                <th class="">Email</th>
                                <th class="">10-2022</th>
                                <th class="">11-2022</th>
                                <th class="">12-2022</th>
                                <th class="">01-2023</th>
                                <th class="">02-2023</th>
                                <th class="">03-2023</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="y in dispenseDoseTable">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{y.usgaeInOctober}}</td>
                                <td>{{y.usageInNovember}}</td>
                                <td>{{y.usageInDecember}}</td>
                                <td>{{y.usageInJanuary}}</td>
                                <td>{{y.usageInFebruary}}</td>
                                <td>{{y.usageInMarch}}</td>


                            </tr>
                            <tr style="background-color: rgb(209, 231, 249);">
                                <td colspan="5" style="padding-left: 700px;">Usage over Time Totals:</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="modal fade" id="autoManualTable" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog " style="width: 90%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Reorder Settings</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-check form-switch"><input class="form-check-input"
                                                type="checkbox" id="" checked>
                                        </div>
                                        <table id="" class="table table-striped  text-center mt-2  ">
                                            <thead class="thead">
                                                <tr>
                                                    <th colspan="11" style="padding-left: 75%; border: none;">USAGE OVER
                                                        LAST 6 MONTHS</th>
                                                </tr>

                                                <tr>
                                                    <th class="">Product Name</th>
                                                    <th class="">Reorder Point</th>
                                                    <th class="">Reorder Quantity</th>
                                                    <th class="">Add on Dose</th>
                                                    <th class="">Add on Quantity</th>
                                                    <th class="">10-2022</th>
                                                    <th class="">11-2022</th>
                                                    <th class="">12-2022</th>
                                                    <th class="">01-2023</th>
                                                    <th class="">02-2023</th>
                                                    <th class="">03-2023</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in product_data">
                                                    <td>{{x.productName}}</td>
                                                    <td><input type="text" class="w-25" required></td>
                                                    <td><input type="text" class="w-25" required></td>
                                                    <td><select>
                                                            <option>Select a Dose</option>
                                                        </select></td>
                                                    <td><input type="text" class="w-25" required></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>


                                                </tr>
                                                <tr style="background-color: rgb(209, 231, 249);">
                                                    <td colspan="5" style="padding-left: 700px;">Usage over Time Totals:
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table id="" class="table table-striped  text-center mt-5 ">
                                            <thead class="thead">
                                                <tr>
                                                    <th colspan="2" style="padding-left: 40%;border: none;">Low
                                                        Inventory</th>
                                                    <th colspan="3" style="padding-left: 18%; border: none;">
                                                        Notifications</th>
                                                    <th colspan="11" style="border: none;">USAGE OVER LAST 6 MONTHS</th>
                                                </tr>

                                                <tr>
                                                    <th class="">Product Name</th>
                                                    <th class="">Low Inventory Alerts</th>
                                                    <th class="">Alert Quantity</th>
                                                    <th class="">In System</th>
                                                    <th class="">Email</th>
                                                    <th class="">10-2022</th>
                                                    <th class="">11-2022</th>
                                                    <th class="">12-2022</th>
                                                    <th class="">01-2023</th>
                                                    <th class="">02-2023</th>
                                                    <th class="">03-2023</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in product_data">
                                                    <td>{{x.productName}}</td>
                                                    <td>
                                                        <div class="form-check form-switch"><input
                                                                class="form-check-input" style="margin-left: 40%;"
                                                                type="checkbox" role="switch" id="alertSwitch"></div>
                                                    </td>
                                                    <td><input type="text" class="w-25" required></td>
                                                    <td><input type="checkbox" style="height: 20px;width: 20px;"></td>
                                                    <td><input type="checkbox" style="height: 20px;width: 20px;"></td>


                                                </tr>
                                                <tr style="background-color: rgb(209, 231, 249);">
                                                    <td colspan="5" style="padding-left: 700px;">Usage over Time Totals:
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" ng-click=""
                                        data-bs-dismiss="modal">Update</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>



<!-- <div id="reorderDropDown" class="row">
                    <div class="d-flex justify-content-end">
                        <form  style="border: 2px groove rgb(228, 223, 223);">
                            <table class="table table-striped ">
                                <thead class="bg-warning">
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Low Inventory Alerts</th>
                                        <th class="">Alert Quantity</th>
                                        <th class="">In-System</th>
                                        <th class="">Email</th>

                                    </tr>
                                </thead>
                                <tbody >
                                  
                                </tbody>
                                
                            </table>
                            <div class="text-center mb-2">
                            <input type="button" class="btn btn-info" ng-click="editMinimumDays()" value="Save">
                        </div>
                        </form>
                        
                    </div>
                    </div> -->
<!-- data-bs-target="#autoTable , #manualTable" data-bs-toggle="collapse" -->