<div ng-controller="clinicUserView">
    <div ng-include="'view/header.html'"></div>
    <h1 class="text-center">User Details</h1>
    <div class="row g-3 form-control d-flex justify-content-between w-50 m-auto">
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">UserId</label>
            <input type="text" ng-model="userDetails.userId"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">First Name </label>
            <input type="email" ng-model="userDetails.firstName"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Last Name</label>
            <input type="text" ng-model="userDetails.lastName"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Middle Name:</label>
            <input type="text" ng-model="userDetails.middleName"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">User Login</label>
            <input type="text" ng-model="userDetails.userLogin" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Roles</label>
            <input type="text" ng-model="userDetails.role" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Email</label>
            <input type="text" ng-model="userDetails.email"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Enterprise Id</label>
            <input type="text" ng-model="userDetails.enterpriseId"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Location Id</label>
            <input type="text" ng-model="userDetails.defaultLocationId"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Job Title:</label>
            <input type="text" ng-model="userDetails.jobTitle"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Work Number</label>
            <input type="text" ng-model="userDetails.workPhone"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Mobile Number</label>
            <input type="text" ng-model="userDetails.mobilePhone"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Prompt For Location</label>
            <input type="text" ng-model="userDetails.promptForLocation"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Allow Override</label>
            <input type="text" ng-model="userDetails.allowOverride"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Modified On</label>
            <input type="text" ng-model="userDetails.modifiedOn"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">External Id</label>
            <input type="text" ng-model="userDetails.externalId"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Password Updated Date</label>
            <input type="text" ng-model="userDetails.passwordUpdatedDate" disabled>
        </div>
        <div class="col-auto">
            <label for="">Active</label>
            <input type="text" ng-model="userDetails.active" class="input11" disabled>
        </div>
    </div>

</div>