<div ng-controller="alp">
    <div ng-include="'view/header.html'"></div>
    <h1 class="list">Clinics</h1><br>
    <div class="text-center">
        <a class="btn btn-info" href="#!insertClinic">Add Patient</a>
    </div>
    <div class="container">
        <div>
            <div class="container d-flex justify-content-center mt-5">
                <table class="table table-striped text-center">
                    <thead class="thead">
                        <tr>
                            <th>Territory</th>
                            <th>Clinic Name</th>
                            <th>Clinic Number</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zipcode</th>
                            <th>Facility Count</th>
                            <th>Order</th>
                            <th>Inventory</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in clinic_data">
                            <td class="p-3">{{x.country}}</td>
                            <td class="p-3">{{x.name}}</td>
                            <td class="p-3">{{x.phone}}</td>
                            <td class="p-3">{{x.city}}</td>
                            <td class="p-3">{{x.state}}</td>
                            <td class="p-3">{{x.zipcode}}</td>
                            <td class="p-3">0</td>
                            <td class="p-3">{{x.order}}</td>
                            <td class="p-3">{{x.inventory}}</td>
                            <td><a href="#!updateClinic/{{x.locationId}}">Edit</a>&nbsp &nbsp<a ng-click="deleteClinic(x.locationId)" href="">Remove</a>&nbsp &nbsp<a href="#!/clinicDetails/{{x.locationId}}">view</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>