<div ng-controller="clinicDetails">
    <div ng-include="'view/header.html'"></div>
    <h1 class="text-center">Clinic Details</h1>
    <div class="row g-3 form-control d-flex justify-content-between w-50 m-auto">
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Clinic Name: </label>
            <input type="text" class="input1" ng-model="clinicData.name" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Clinic Email: </label>
            <input type="email" class="input2" ng-model="clinicData.email" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Clinic Phone: </label>
            <input type="text" class="input3" ng-model="clinicData.phone" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Address-1:</label>
            <input type="text" class="input4" ng-model="clinicData.addrLine1" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Address-2:</label>
            <input type="text" class="input5" ng-model="clinicData.addrLine2" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">City:</label>
            <input type="text" class="input6" ng-model="clinicData.city" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">State:</label>
            <input type="text" class="input7" ng-model="clinicData.state" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Country:</label>
            <input type="text" class="input8" ng-model="clinicData.country" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">StateCode:</label>
            <input type="text" class="input9" ng-model="clinicData.stateCode" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Zipcode:</label>
            <input type="text" class="input10" ng-model="clinicData.zipcode" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Active</label>
            <input type="text" ng-model="clinicData.active" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Location Id</label>
            <input type="text" ng-model="clinicData.locationId" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Enterprise Id</label>
            <input type="text" ng-model="clinicData.enterpriseId" disabled>
        </div>
    </div>
    <h1 class="text-center" class=""> <span class="mx-5">Clinic Users</span>
        <a href="#!addUser/{{clinicData.locationId}}" class="btn btn-info">Add User</a>
    </h1>
    <div class="container">
        <table class="table table-striped text-center">
            <thead class="thead">
                <tr>
                    <th>User Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Middle Name</th>
                    <th>User Login</th>
                    <th>Email</th>
                    <th>Job Title</th>
                    <th>Work Phone</th>
                    <th>Mobile Phone</th>
                    <th>Location Id</th>
                    <th>Enterprise Id</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in clinicUserData">
                    <td class="p-3">{{x.userId}}</td>
                    <td class="p-3">{{x.firstName}}</td>
                    <td class="p-3">{{x.lastName}}</td>
                    <td class="p-3">{{x.middleName}}</td>
                    <td class="p-3">{{x.userLogin}}</td>
                    <td class="p-3">{{x.email}}</td>
                    <td class="p-3">{{x.jobTitle}}</td>
                    <td class="p-3">{{x.workPhone}}</td>
                    <td class="p-3">{{x.mobilePhone}}</td>
                    <td class="p-3">{{x.defaultLocationId}}</td>
                    <td class="p-3">{{x.enterpriseId}}</td>
                    <td class="p-2"><a href="#!/updateUser/{{x.userId}}">Edit</a>&nbsp;<a href=""
                            ng-click="deleteUsers(x.userId)">Remove</a>&nbsp;<a
                            href="#!/userDetails/{{x.userId}}">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>