<div ng-controller="clinicDetails">
    <div ng-include="'view/header.html'"></div>
    <h1 class="text-center">Clinic Details</h1>
    <div class="container d-flex justify-content-center ">
        <table class="table table-striped table-bordered text-center">
            <thead class="clinics">
                <tr>
                    <th>Location Id</th>
                    <th>Enterprise Id</th>
                    <th>Clinic Name</th>
                    <th>Clinic Number</th>
                    <th>Email</th>
                    <th>Address Line1</th>
                    <th>Address Line2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>State Code</th>
                    <th>Zipcode</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="p-3">{{clinicData.locationId}}</td>
                    <td class="p-3">{{clinicData.enterpriseId}}</td>
                    <td class="p-3">{{clinicData.name}}</td>
                    <td class="p-3">{{clinicData.phone}}</td>
                    <td class="p-3">{{clinicData.email}}</td>
                    <td class="p-3">{{clinicData.addrLine1}}</td>
                    <td class="p-3">{{clinicData.addrLine2}}</td>
                    <td class="p-3">{{clinicData.city}}</td>
                    <td class="p-3">{{clinicData.state}}</td>
                    <td class="p-3">{{clinicData.country}}</td>
                    <td class="p-3">{{clinicData.stateCode}}</td>
                    <td class="p-3">{{clinicData.zipcode}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h1 class="text-center" class=""> <span class="mx-5">Clinic Users</span>
        <a href="#!addUser/{{clinicData.locationId}}" class="btn btn-primary">Add User</a>
    </h1>
    <div class="container">
        <table class="table table-striped table-bordered text-center">
            <thead class="clinics">
                <tr>
                    <th>userId</th>
                    <th>firstName</th>
                    <th>lastName</th>
                    <th>middleName</th>
                    <th>userLogin</th>
                    <th>email</th>
                    <th>jobTitle</th>
                    <th>workPhone</th>
                    <th>mobilePhone</th>
                    <th>Location Id</th>
                    <th>Enterprise Id</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in clinicUserData">
                    <td class="p-3">{{x.userId}}</td>
                    <td class="p-3">{{x.firstName}}</td>
                    <td class="p-3">{{x.lastName}}</td>
                    <td class="p-3">{{x.middleName}}</td>
                    <td class="p-3">{{x.userLogin}}</td>
                    <td class="p-3">{{x.email}}</td>
                    <td class="p-3">{{x.jobTitle}}</td>
                    <td class="p-3">{{x.workPhone}}</td>
                    <td class="p-3">{{x.mobilePhone}}</td>
                    <td class="p-3">{{x.defaultLocationId}}</td>
                    <td class="p-3">{{x.enterpriseId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>