<div ng-controller="alp">
    <div ng-include="'view/header.html'"></div>
    <h1 class="list">Clinics</h1><br>
    <div class="text-center">
        <a class="btn btn-info" href="#!insertClinic">Add Patient</a>
       
    </div>
    <div class="container">
        <div>
            <a class="btn btn-primary p-2 mx-3 my-3" style="float: right;" data-bs-toggle="modal" data-bs-target="#downloadfile" >Download</a>
            <div class="container d-flex justify-content-center mt-5">
                <table class="table table-striped text-center">
                    <thead class="thead">
                        <tr>
                            <th>Territory</th>
                            <th>Clinic Name</th>
                            <th>Clinic Number</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zipcode</th>
                            <th>Facility Count</th>
                            <th>Order</th>
                            <th>Inventory</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in clinic_data">
                            <td class="p-3">{{x.country}}</td>
                            <td class="p-3">{{x.name}}</td>
                            <td class="p-3">{{x.phone}}</td>
                            <td class="p-3">{{x.city}}</td>
                            <td class="p-3">{{x.state}}</td>
                            <td class="p-3">{{x.zipcode}}</td>
                            <td class="p-3">0</td>
                            <td class="p-3">{{x.order}}</td>
                            <td class="p-3">{{x.inventory}}</td>
                            <td><a href="#!updateClinic/{{x.locationId}}">Edit</a>&nbsp &nbsp<a ng-click="deleteClinic(x.locationId)" href="">Remove</a>&nbsp &nbsp<a href="#!/clinicDetails/{{x.locationId}}">view</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="downloadfile" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Serial Numbers</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex">
                            <a class=" btn btn-info w-25 " href="http://localhost:7890/download/excel">Excel</a>
                            <a class="btn btn-danger w-25 mx-3" href="http://localhost:7890/download/pdf" >Pdf</a>
                        </div>
                        
                    </div>
                </div>
            </div>

</div>