<div ng-controller="alp">
    <div ng-include="'view/header.html'"></div>
    <h1 class="list">Clinics</h1><br>
    <div class="text-center">
        <a class="btn btn-info" href="#!insertClinic">Add Clinic</a>

    </div>
    <div class="container">
        <div>
            <div class="d-grid " style="float: right;">
                <a class="btn btn-warning p-2 mx-2 my-1 row" onclick="downloadFunction()">Download</a>

                <div id="downloadDropdown" class="downloadMenu">
                    <a class="downloadMenuLink" href="">XLS</a>
                    <hr class="hr1">
                    
                    <a class="downloadMenuLink" href="">PDF</a>
                    </div>




                <!-- <select ng-model="selectedOption" class="downloadclinics m-2 col-3" ng-class="{'d-none': closeDropDown == false }" ng-change="openUrl()">
                    <option value="">Select an option</option>
                    <option ng-repeat="option in options" value="{{option.value}}">
                      {{option.label}} <a href="{{option.url}}" ></a>
                    </option>
                  </select> -->

                <!-- <div  class="d-grid" ng-class="{'d-none': closeDropDown == false }">
            <a class="btn btn-info text-center m-1" href="http://localhost:7890/download/excel">Excel</a>
            <a class="btn btn-danger m-1 text-center" href="http://localhost:7890/download/pdf" >Pdf</a>
            </div> -->



                <!-- <select id="downloadMenu"class="row m-3" ng-class="{'d-none': closeDropDown == false }">
                    <option label="Select a Option" class="" value="#"></option>
                    <option class="text-center" value="http://localhost:7890/download/excel" >XLS</option>
                    <option class="text-center" value="http://localhost:7890/download/pdf">PDF</option>
                </select> -->
            </div>
            <div class="container d-flex justify-content-center mt-5">
                <table class="table table-striped text-center">
                    <thead class="thead">
                        <tr>
                            <th>Territory</th>
                            <th>Clinic Name</th>
                            <th>Clinic Number</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zipcode</th>
                            <th>Facility Count</th>
                            <th>Last Order</th>
                            <th>Last Dispense</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in clinic_data">
                            <td class="p-3">{{x.country}}</td>
                            <td class="p-3">{{x.name}}</td>
                            <td class="p-3">{{x.phone}}</td>
                            <td class="p-3">{{x.city}}</td>
                            <td class="p-3">{{x.state}}</td>
                            <td class="p-3">{{x.zipcode}}</td>
                            <td class="p-3">0</td>
                            <td class="p-3">{{x.lastOrderDate}}</td>
                            <td class="p-3">{{x.lastDispence}}</td>
                            <td><a href="#!updateClinic/{{x.locationId}}">Edit</a>&nbsp &nbsp<a
                                    ng-click="deleteClinic(x.locationId)" href="">Remove</a>&nbsp &nbsp<a
                                    href="#!/clinicDetails/{{x.locationId}}">view</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade " tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <a class="btn btn-info w-25 text-center " href="http://localhost:7890/download/excel">Excel</a>
                    <a class="btn btn-danger w-25 mx-3 text-center" href="http://localhost:7890/download/pdf">Pdf</a>
                </div>

            </div>
        </div>
    </div>

</div>