<div ng-controller="clinicUserView">
    <div ng-include="'view/header.html'"></div>
    <h1 class="text-center">User Details</h1>
    <div class="row g-3 form-control d-flex justify-content-between w-50 m-auto">
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">userId</label>
            <input type="text" ng-model="userDetails.userId"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">firstName </label>
            <input type="email" ng-model="userDetails.firstName"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">lastName</label>
            <input type="text" ng-model="userDetails.lastName"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">middleName:</label>
            <input type="text" ng-model="userDetails.middleName"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">userLogin</label>
            <input type="text" ng-model="userDetails.userLogin" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Role </label>
            <input type="text" ng-model="userDetails.role" disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">City:</label>
            <input type="text" ng-model="userDetails.email"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">State:</label>
            <input type="text" ng-model="userDetails.enterpriseId"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">Country:</label>
            <input type="text" ng-model="userDetails.defaultLocationId"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">jobTitle:</label>
            <input type="text" ng-model="userDetails.jobTitle"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">workPhone</label>
            <input type="text" ng-model="userDetails.workPhone"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">mobilePhone</label>
            <input type="text" ng-model="userDetails.mobilePhone"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">promptForLocation</label>
            <input type="text" ng-model="userDetails.promptForLocation"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">allowOverride</label>
            <input type="text" ng-model="userDetails.allowOverride"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">modifiedOn</label>
            <input type="text" ng-model="userDetails.modifiedOn"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">externalId</label>
            <input type="text" ng-model="userDetails.externalId"disabled>
        </div>
        <div class="col-auto d-flex justify-content-between w-50">
            <label for="">passwordUpdatedDate</label>
            <input type="text" ng-model="userDetails.passwordUpdatedDate" disabled>
        </div>
        <div class="col-auto">
            <label for="">Active</label>
            <input type="text" ng-model="userDetails.active" class="input11" disabled>
        </div>
    </div>

</div>