<div ng-controller="allClinicsUsers">
    <div ng-include="'view/header.html'"></div>
    <div>
        <h1 class="text-center mt-2" > <span class="mx-5">All Clinics Users</span>
        </h1>
        <div class="container mt-3">
            <table class="table table-striped text-center">
                <thead class="thead">
                    <tr>
                        <th>User Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Middle Name</th>
                        <th>User Login</th>
                        <th>Email</th>
                        <th>Job Title</th>
                        <th>Work Phone</th>
                        <th>Mobile Phone</th>
                        <th>Location Id</th>
                        <th>Enterprise Id</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in clinicsUsers">
                        <td class="p-3">{{x.userId}}</td>
                        <td class="p-3">{{x.firstName}}</td>
                        <td class="p-3">{{x.lastName}}</td>
                        <td class="p-3">{{x.middleName}}</td>
                        <td class="p-3">{{x.userLogin}}</td>
                        <td class="p-3">{{x.email}}</td>
                        <td class="p-3">{{x.jobTitle}}</td>
                        <td class="p-3">{{x.workPhone}}</td>
                        <td class="p-3">{{x.mobilePhone}}</td>
                        <td class="p-3">{{x.defaultLocationId}}</td>
                        <td class="p-3">{{x.enterpriseId}}</td>
                        <td class="p-3"><a href="#!/updateUser/{{x.userId}}" +>Edit</a>&nbsp;&nbsp;<a href=""
                                ng-click="deleteUsers(x.userId)">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>