<div ng-controller="clp">
    <div class="isDisabled">
        <div ng-include="'view/header.html'"></div>
    </div>
    <div ng-include="'view/header2.html'"></div>
    <div class="isDisabled">
        <div class="clpHomeSection d-flex justify-content-around ">
            <div class="dispense_d m-3 p-3">
                <section class="dispense_section ">
                    <div class="">
                        <a href="#!dispenseToPatient/null"><i class="fa-solid fa-user-plus mx-3"></i>Dispense to Patient</a>
                    </div>
                </section>
            </div>
            <div class="inventory_d m-3 p-3">
                <section class="inventory_section">
                    <div class="">
                        <a href="#!addToInventory"><i class="fa-solid fa-house-chimney-medical mx-3"></i>Add to
                            Inventory</a>
                    </div>
                </section>
            </div>
        </div>
        <div class="container d-flex justify-content-center mt-5">
            <table id="patientDetailsTable" class="table table-striped text-center">
                <thead class="thead">
                    <tr>
                        <th class="px-3 capitalize" scope="row">Doses</th>
                        <th class="px-3 capitalize" scope="row">On Hand</th>
                        <th class="px-3 capitalize" scope="row">Expired Doses</th>
                        <th class="px-3 capitalize" scope="row">Transit Doses</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in invetoryData">
                        <td class="capitalize">{{x.productName}}</td>
                        <td ng-click="getOnHand(x.productId)"><a data-bs-toggle="modal" data-bs-target="#ohHand"
                                style="cursor: default;">{{x.onHand}}</a></td>
                        <td ng-click="getExpired(x.productId)"><a href="" ng-class="{'text-danger':x.expiredQty>0}"
                                data-bs-toggle="modal" data-bs-target="#expiredDoses"
                                style="cursor: default;">{{x.expiredQty}}</a></td>
                        <td ng-click="getTransitDoses(x.productId)"><a  class="textDecorationNone text-dark" href=""
                                data-bs-toggle="modal" data-bs-target="#transitDoses"
                                style="cursor: default;">{{x.transitDoses}}</a></td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="transitDoses" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Serial Numbers</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table id="patientDetailsTable" class="table table-striped table-bordered text-center">
                                <tr>
                                    <!-- <th class="px-3">Serial Id</th> -->
                                    <th class="px-3">Serial Number</th>
                                    <th class="px-3">NDC</th>
                                    <th class="px-3">LOT</th>
                                    <th class="px-3">Expiry Date</th>
                                    <th class="px-3">Serial Status</th>
                                    <th class="px-3">Created On</th>
                                    <th class="px-3">Enterprise Name</th>
                                    <th class="px-3">Location Name</th>
                                    <th class="px-3">Product Id</th>
                                    <th class="px-3">Patient Specific</th>
                                    <!-- <th class="px-3">src Id</th> -->
                                </tr>
                                <tr ng-repeat="x in transitDoseDetails">
                                    <td>{{x.serialNumber}}</td>
                                    <td>{{x.ndc}}</td>
                                    <td>{{x.lot}}</td>
                                    <td>{{x.expiryDate}}</td>
                                    <td>{{x.serialStatus}}</td>
                                    <td>{{x.createdOn}}</td>
                                    <td>{{x.enterpriseName}}</td>
                                    <td>{{x.clinicName}}</td>
                                    <td>{{x.productId}}</td>
                                    <td>{{x.patientSpecific}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="ohHand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Serial Numbers</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table id="patientDetailsTable" class="table table-striped table-bordered text-center">
                                <tr>
                                    <!-- <th class="px-3">Serial Id</th> -->
                                    <th class="px-3">Serial Number</th>
                                    <th class="px-3">NDC</th>
                                    <th class="px-3">LOT</th>
                                    <th class="px-3">Expiry Date</th>
                                    <th class="px-3">Serial Status</th>
                                    <th class="px-3">Created On</th>
                                    <th class="px-3">Enterprise Name</th>
                                    <th class="px-3">Location Name</th>
                                    <th class="px-3">Product Id</th>
                                    <th class="px-3">Patient Specific</th>
                                    <!-- <th class="px-3">src Id</th> -->
                                </tr>
                                <tr ng-repeat="x in onHandData">
                                    <td>{{x.serialNumber}}</td>
                                    <td>{{x.ndc}}</td>
                                    <td>{{x.lot}}</td>
                                    <td>{{x.expiryDate}}</td>
                                    <td>{{x.serialStatus}}</td>
                                    <td>{{x.createdOn}}</td>
                                    <td>{{x.enterpriseName}}</td>
                                    <td>{{x.clinicName}}</td>
                                    <td>{{x.productId}}</td>
                                    <td>{{x.patientSpecific}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="expiredDoses" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Serial Numbers</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table id="patientDetailsTable" class="table table-striped table-bordered text-center">
                                <tr>
                                    <!-- <th class="px-3">Serial Id</th> -->
                                    <th class="px-3">Serial Number</th>
                                    <th class="px-3">NDC</th>
                                    <th class="px-3">LOT</th>
                                    <th class="px-3">Expiry Date</th>
                                    <th class="px-3">Serial Status</th>
                                    <th class="px-3">Created On</th>
                                    <th class="px-3">Enterprise Name</th>
                                    <th class="px-3">Location Name</th>
                                    <th class="px-3">Product Id</th>
                                    <th class="px-3">Patient Specific</th>
                                    <!-- <th class="px-3">Src Id</th> -->
                                </tr>
                                <tr ng-repeat="x in expiredData">
                                    <td>{{x.serialNumber}}</td>
                                    <td>{{x.ndc}}</td>
                                    <td>{{x.lot}}</td>
                                    <td>{{x.expiryDate}}</td>
                                    <td>{{x.serialStatus}}</td>
                                    <td>{{x.createdOn}}</td>
                                    <td>{{x.enterpriseName}}</td>
                                    <td>{{x.clinicName}}</td>
                                    <td>{{x.productId}}</td>
                                    <td>{{x.patientSpecific}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="d-flex justify-content-between ">
            <h1>Quick Links</h1>
             <button data-bs-toggle="modal" data-bs-target="#quickLinks" class=" btn addQuicklink mx-5 " style="float: right;"> + Add Quick Links</button>
            </div>
          
            <div class=" row row-cols-3 mt-5 ">
                <span class="d-flex align-items-center allQuickLinks m-2 mx-3"ng-repeat="x in getLinksData"><a  href="{{x.url}}" class="btn allQuickLinks w-75 mx-5 my-2 ">{{x.title}}</a>  
                    <i class="fa-regular fa-pen-to-square link-danger mx-5" data-bs-toggle="modal" data-bs-target="#editQuickLinks" ng-click="getQuickLinkData(x.id)" style="cursor: pointer;"></i>
                    <i class="fa-regular fa-circle-xmark link-danger " ng-click="deleteLinks(x.id)" style="cursor: pointer;"></i></span>
            </div>
            <div class="modal fade" id="quickLinks" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog " style="width: 35%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Quick Links</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label">Link Name:</label>
                                    <input type="text" class="" autocomplete="off" style="height: 50px; width: 82%;"  id="recipient-name"  ng-model="linkData.title">
                                </div>
                                <div class="form-group mt-3 d-flex justify-content-between">
                                    <label for="dropdownTab" class="text-dark mx-1 d-flex align-items-center">
                                        Link:
                                    </label>
                                    <select class="" style="height: 50px; width: 82%;" ng-model="linkData.url">
                                        <option label="Select a Link" class="d-none "></option>
                                        <option class="" value="#!insertPatient">Add Patient</option>
                                        <option class="" value="#!orders">Ordering</option>
                                        <option class="" value="#!addPhysician">Add Physician</option>
                                        <option class="" value="#!addNurse">Add Nurse</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="saveLinks()" data-bs-dismiss="modal">Save</button>
                        </div>

                    </div>
                </div>
            </div>
              <div class="modal fade" id="editQuickLinks" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog "style="width: 35%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Quick Links</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group d-flex justify-content-between">
                                    <label for="recipient-name" class="col-form-label">Link Name :</label>
                                    <input type="text" class="" style="height: 50px; width: 82%;"  id="recipient-name"ng-model="updateLinkData.title">
                                </div>
                                <div class="form-group mt-3 d-flex justify-content-between">
                                    <label for="dropdownTab" class="text-dark mx-1 d-flex align-items-center">
                                       Link :
                                    </label>
                                    <select class="" style="height: 50px; width: 82%; "ng-model="updateLinkData.url">
                                        <option label="Select a Link" class="d-none"></option>
                                        <option class="" value="#!insertPatient">Add Patient</option>
                                        <option class="" value="#!orders">Ordering</option>
                                        <option class="" value="#!addPhysician">Add Physician</option>
                                        <option class="" value="#!addNurse">Add Nurse</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close </button>
                            <button type="button" class="btn btn-success" ng-click="updateLinks()" data-bs-dismiss="modal">Update</button>
                        </div>

                    </div>
                </div>
            </div>
            




        </div>
    </div>
</div>