<div ng-controller="clp">
    <div class="isDisabled">
        <div ng-include="'view/header.html'"></div>
    </div>
    <div ng-include="'view/header2.html'"></div>
    <div class="isDisabled">
        <div class="clpHomeSection d-flex justify-content-around ">
            <div class="dispense_d m-4 p-3">
                <section class="dispense_section ">
                    <div class="">
                        <i class="fa-solid fa-user-plus mx-3"></i>
                        <a href="">Dispense to Patient</a>
                    </div>
                </section>
            </div>
            <div class="inventory_d m-4 p-3">
                <section class="inventory_section">
                    <div class="">
                        <i class="fa-solid fa-house-chimney-medical mx-3"></i>
                        <a href="#!addToInventory">Add to Inventory</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>