<div ng-controller="clp">
    <div ng-include="'view/header.html'" class="isDisabled"></div>
    <div ng-include="'view/header2.html'"></div>
    <h1 class="text-center" class="isDisabled">Patients</h1>
    <div>
        <form ng-submit="getById()" class="form-inline d-flex justify-content-center mt-3">
            <input type="text" id="patientId" placeholder="Search Patient Id" ng-model="variable" class="">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </form>
    </div>
    <br>
    <div>     
            <a class="insert" href="{{navOption4Link}}">{{navOption4}}</a>
    </div>
    <br>
    <div class="container d-flex justify-content-center mt-5">
        <table id="patientDetailsTable" class="borderBlack ">
            <tr>
                <!-- <th class="px-3">Id</th> -->
                <th class="px-3">Patient Id</th>
                <th class="px-3">First Name</th>
                <th class="px-3">Last Name</th>
                <th class="px-3">Middle Name</th>
                <th class="px-3">Date Of Birth</th>
                <th class="px-3">Patient Status</th>
                <!-- <th class="px-3">Email</th> -->
                <th class="px-3">Location Id</th>
                <!-- <th class="px-3">Last Dispense Loc Id</th> -->
                <th class="px-3">Enterprise Id</th>
                <!-- <th class="px-3">Payer Type</th>
                <th class="px-3">Pa Needed</th>
                <th class="px-3">Independent Inventory</th>
                <th class="px-3">Patient File</th> -->
                <th class="px-3">Actions</th>
                <!-- <th class="px-3">Delete</th> -->
            </tr>
            <tr ng-repeat="x in patientData" ng-if="searchPatientData==null">
                <!-- <td class="px-3">
                    {{ x.id }}
                </td> -->
                <td class="px-3">
                    {{ x.patientId }}
                </td>
                <td class="px-3">
                    {{ x.patientFirstName }}
                </td>
                <td class="px-3">
                    {{ x.patientLastName }}
                </td>
                <td class="px-3">
                    {{ x.patientMiddleName }}
                </td>
                <td class="px-3">
                    {{ x.patientDob}}
                </td>
                <td class="px-3">
                    {{ x.patientStatus}}
                </td>
                <!-- <td class="px-3">
                    {{ x.patientEmail }}
                </td> -->
                <td class="px-3">
                    {{ x.patientLocationId }}
                </td>
                <!-- <td class="px-3">
                    {{ x.patientLastDispenseId }}
                </td> -->
                <td class="px-3">
                    {{ x.patientEnterpriseId}}
                </td>
                <!-- <td class="px-3">
                    {{ x.patientPayerType}}
                </td> -->
                <!-- <td class="px-3">
                    {{ x.patientPaNeeded }}
                </td>
                <td class="px-3">
                    {{ x.independentInventory }}
                </td> -->
                <!-- href="http://localhost:7890/downloadFile?id={{x.patientFile[i].fileId}}" -->
                <!-- <td>
                    <a class="d-block mb-2" href="" ng-repeat="j in range[$index]"
                        ng-click="fileDownload(x.patientFile[j].fileId)">{{x.patientFile[j].fileName}}</a>
                </td> -->
                <td><a href="#!updatePatient/{{x.patientId}}">Edit</a>&nbsp &nbsp<a href="" ng-click="deleteById(x.id)" onclick="reloadWindow()">Delete</a></td>
            </tr>
            
            <tr ng-if="searchPatientData!=null" ng-init="x=searchPatientData">
                <td class="px-3">
                    {{ x.id }}
                </td>
                <td class="px-3">
                    {{ x.patientId }}
                </td>
                <td class="px-3">
                    {{ x.patientFirstName }}
                </td>
                <td class="px-3">
                    {{ x.patientLastName }}
                </td>
                <td class="px-3">
                    {{ x.patientMiddleName }}
                </td>
                <td class="px-3">
                    {{ x.patientDob}}
                </td>
                <td class="px-3">
                    {{ x.patientStatus}}
                </td>
                <td class="px-3">
                    {{ x.patientEmail }}
                </td>
                <td class="px-3">
                    {{ x.patientLocationId }}
                </td>
                <td class="px-3">
                    {{ x.patientLastDispenseId }}
                </td>
                <td class="px-3">
                    {{ x.patientEnterpriseId}}
                </td>
                <td class="px-3">
                    {{ x.patientPayerType}}
                </td>
                <td class="px-3">
                    {{ x.patientPaNeeded }}
                </td>
                <td class="px-3">
                    {{ x.independentInventory }}
                </td>
                <td>
                    <a class="d-block m-2" href="" ng-repeat="j in searchedPatientFileRange(0,x.patientFile.length) "
                        ng-click="fileDownload(x.patientFile[j].fileId)">{{x.patientFile[j].fileName}}</a>
                </td>
                <td><a href="#!updatePatient/{{x.patientId}}">edit</a></td>
                <td> <a href="" ng-click="deleteById(x.id)" onclick="reloadWindow()">delete</a></td>
            </tr>
        </table>
    </div>
</div>