<div ng-controller="clp">
    <div ng-include="'view/header.html'"></div>
    <div ng-include="'view/header2.html'"></div>
    <div class="isDisabled">
    <div class="clpHomeSection">
        <div class="d-flex justify-content-around" style="margin-top: 18%;">


                <div>
                    <button class="btn2">Add to Inventory</button>

                </div>
                <div>
                    <button class="btn2">Dispense to Patient</button>
                </div>
            </div>
        </div>
    </div>
</div>