<div ng-controller="clp">
    <div class="isDisabled">
        <div ng-include="'view/header.html'"></div>
    </div>
    <div ng-include="'view/header2.html'"></div>
    <!-- <div>Please Select a Clinic </div> -->
    <div class="isDisabled">
        <h1 class="text-center">Patients</h1>
        <div class="patinetInjectionHeading">
            <h2>{{dispenseShow.length}} Patients Due for next Injection in 7 Days </h2>
            <a href="#!injectionIn30">View all patients due for injection in next 30 days</a>
        </div>
        <div class="d-flex container mt-4 ">
            <div class="container shadow w-100 row m-3 " ng-repeat="x in dispenseShow">
                <p class="w-100 text-center bg-danger" ng-if="x.flag==false"> Overdue</p>
                <h3 class="mt-2" style="font-size:25px;">{{x.patientLastName}} , {{x.patientName}} {{x.patientDOB}} </h3>
                <div class="d-flex mt-3 mb-3">
                    <div class="col-3">
                        <i class="fa-solid fa-user" style="font-size: 70px;"></i>
                    </div>
                    <div class="col-9 d-flex flex-column ">
                        <div class="d-flex ">
                            <label for="">Next Injection Due : </label>
                            <div>
                               {{x.lastInjection}}
                            </div>
                        </div>
                        <div class="d-flex " style="margin-left: 60px;">
                            <label for="">Last Dose:</label>
                            <div class="">
                                {{x.productname}}
                            </div>
                        </div>
                        <div class="d-flex ">
                            <label for="">Last Injection Date :</label>
                            <div>
                                 {{x.createdOn}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <form ng-submit="getById()" class="form-inline d-flex justify-content-center mt-3">
                <input type="text" id="patientId" placeholder="Search Patient Id" ng-model="search.patientFirstName"
                    class="text-center">
                <!-- <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button> -->
            </form>
        </div>
        <br>
        <div class="container d-flex justify-content-center mt-3">
            <table id="patientDetailsTable" class=" table table-striped text-center">
                <thead class="thead">
                    <tr>
                        <!-- <th class="px-3">Id</th> -->
                        <th class="px-3">Patient Id</th>
                        <th class="px-3">First Name</th>
                        <th class="px-3">Last Name</th>
                        <th class="px-3">Date Of Birth</th>
                        <th class="px-3">Patient Status</th>
                        <th class="px-3">Last Dispense</th>
                        <th class="px-3">Dose</th>
                        <th class="px-3">Days Since Last Dispense</th>
                        <th class="px-3">Overdue</th>
                        <th class="px-3">Actions</th>
                    </tr>
                </thead>
                <tr ng-repeat="x in patientData | filter:search:strict" ng-if="searchPatientData==null">
                    <a href="">
                    <td class="px-3">
                        {{ x.patientId }}
                    </td>
                    <td class="px-3">
                        {{ x.patientFirstName }}
                    </td>
                    <td class="px-3">
                        {{ x.patientLastName }}
                    </td>
                    <td class="px-3">
                        {{ x.patientDob}}
                    </td>
                    <td class="px-3">
                        {{ x.patientStatus}}
                    </td>
                    </a>
                    <td class="px-3">
                        {{ x.lastDispense}}
                    </td>
                    <td class="px-3">
                        {{ x.dose}}
                    </td>
                    <td class="px-3">
                        {{ x.daysAfterLastInjection}}
                    </td>
                    <td class="px-3">
                        <p ng-if="x.overDue==true" class="overdue">Overdue</p>
                    </td>
                    <td><a href="#!updatePatient/{{x.patientId}}">Edit</a>&nbsp &nbsp<a href=""
                            ng-click="deleteById(x.id)" onclick="reloadWindow()">Delete</a>&nbsp &nbsp
                            <a href="#!dispenseToPatient/{{x.patientId}}">Dispense</a>
                        </td>
                </tr>

                <tr ng-if="searchPatientData!=null" ng-init="x=searchPatientData">
                    <td class="px-3">
                        {{ x.id }}
                    </td>
                    <td class="px-3">
                        {{ x.patientId }}
                    </td>
                    <td class="px-3">
                        {{ x.patientFirstName }}
                    </td>
                    <td class="px-3">
                        {{ x.patientLastName }}
                    </td>
                    <td class="px-3">
                        {{ x.patientMiddleName }}
                    </td>
                    <td class="px-3">
                        {{ x.patientDob}}
                    </td>
                    <td class="px-3">
                        {{ x.patientStatus}}
                    </td>
                    <td class="px-3">
                        {{ x.patientEmail }}
                    </td>
                    <td class="px-3">
                        {{ x.patientLocationId }}
                    </td>
                    <td class="px-3">
                        {{ x.patientLastDispenseId }}
                    </td>
                    <td class="px-3">
                        {{ x.patientEnterpriseId}}
                    </td>
                    <td class="px-3">
                        {{ x.patientPayerType}}
                    </td>
                    <td class="px-3">
                        {{ x.patientPaNeeded }}
                    </td>
                    <td class="px-3">
                        {{ x.independentInventory }}
                    </td>
                    <td>
                        <a class="d-block m-2" href=""
                            ng-repeat="j in searchedPatientFileRange(0,x.patientFile.length) "
                            ng-click="fileDownload(x.patientFile[j].fileId)">{{x.patientFile[j].fileName}}</a>
                    </td>
                    <td><a href="#!updatePatient/{{x.patientId}}">edit</a></td>
                    <td> <a href="" ng-click="deleteById(x.id)" onclick="reloadWindow()">delete</a></td>
                </tr>
            </table>
        </div>

        <!-- <div class="d-grid  container mt-3 ">
            <div class="container shadow w-50 row ">
                <h3 class="mt-2">Aniket,31-03-2023</h3>
                <div class="d-flex mt-3 mb-3">
                    <div class="col-4">
                        <i class="fa-solid fa-user" style="font-size: 70px;"></i>
                    </div>
                    <div class="col-4 d-flex flex-column  ">
                        <label for="">Next Injection Due :</label>
                        <label for="">Last Dose:</label>
                        <label for="">Last Injection Due :</label>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>