<div ng-controller="clp">
    <div ng-include="'view/header.html'"></div>
    <div ng-include="'view/header2.html'"></div>
    <div class="container">
        <h2 class="text-center">Dispense To Patient</h2>
        <form ng-submit="" class="form-inline d-flex justify-content-left form-control  mt-3 w-50">
            <div class="mt-1">
                <div class="mt-2 col-auto w-100 d-flex justify-content-between">
                    <label for="">Serial Number :</label>
                    <input class="dispense_input" type="text"  placeholder="Serial Number" >
                </div>
                <div class="mt-2 col-auto w-100 d-flex justify-content-between">
                    <label for="">Patient Name:</label>
                    <input class="dispense_input" type="text"  placeholder="Patient Name" ng-model="variable">
                    
                </div>
                <div>
                    <a class="btn btn-primary mx-2 mt-3" href="#!/insertPatient">Add Patient</a>
                </div>
            </div>
        </form>

        <div class="container d-flex justify-content-center mt-5">
            <table id="patientDetailsTable" class="table table-striped text-center table-bordered border-dark">
                <thead class="clinics">
                    <tr>
                        <!-- <th class="px-3">Id</th> -->
                        <th class="px-3">Patient Id</th>
                        <th class="px-3">First Name</th>
                        <th class="px-3">Last Name</th>
                        <th class="px-3">Middle Name</th>
                        <th class="px-3">Date Of Birth</th>
                        <th class="px-3">Patient Status</th>
                        <th class="px-3">Clinic Name</th>

                    </tr>
                </thead>
                <tr ng-repeat="x in patientData | filter:variable" ng-if="searchPatientData==null">
                    <td class="px-3">
                        {{ x.patientId }}
                    </td>
                    <td class="px-3">
                        {{ x.patientFirstName }}
                    </td>
                    <td class="px-3">
                        {{ x.patientLastName }}
                    </td>
                    <td class="px-3">
                        {{ x.patientMiddleName }}
                    </td>
                    <td class="px-3">
                        {{ x.patientDob}}
                    </td>
                    <td class="px-3">
                        {{ x.patientStatus}}
                    </td>
                    <td class="px-3">
                        {{ x.clinicName}}
                    </td>
                </tr>

                <tr ng-if="searchPatientData !=null">
                    <td class="px-3">
                        {{ x.id }}
                    </td>
                    <td class="px-3">
                        {{ x.patientId }}
                    </td>
                    <td class="px-3">
                        {{ x.patientFirstName }}
                    </td>
                    <td class="px-3">
                        {{ x.patientLastName }}
                    </td>
                    <td class="px-3">
                        {{ x.patientMiddleName }}
                    </td>
                    <td class="px-3">
                        {{ x.patientDob}}
                    </td>
                    <td class="px-3">
                        {{ x.patientStatus}}
                    </td>
                    <td class="px-3">
                        {{ x.patientEmail }}
                    </td>
                    <td class="px-3">
                        {{ x.patientLocationId }}
                    </td>
                    <td class="px-3">
                        {{ x.patientLastDispenseId }}
                    </td>
                    <td class="px-3">
                        {{ x.patientEnterpriseId}}
                    </td>
                    <td class="px-3">
                        {{ x.patientPayerType}}
                    </td>
                    <td class="px-3">
                        {{ x.patientPaNeeded }}
                    </td>
                    <td class="px-3">
                        {{ x.independentInventory }}
                    </td>
                    <td>
                        <a class="d-block m-2" href=""
                            ng-repeat="j in searchedPatientFileRange(0,x.patientFile.length) "
                            ng-click="fileDownload(x.patientFile[j].fileId)">{{x.patientFile[j].fileName}}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>