<h1>ELP USERS</h1>
<div ng-controller="elp_userCtrl">

   
      
      <button class="tablinks" ng-click="orders(event, 'success')">Success Orders</button>
      <button class="tablinks" ng-click="orders(event, 'error')">Error Orders</button>
</ul>
   </div>

   
   <div id="success" class="tabcontent">
      <h3>Success Orders</h3>
      <p>This is for Success Orders</p>
   </div>
   <div id="error" class="tabcontent">
      <h3>Error Orders</h3>
      <p>This is for Error Orders</p>
   </div>


   </div>
   </div>