<div ng-controller="elp">
   <div ng-include="'view/header.html'"></div>
   <h1 class="text-center"> Success Orders</h1>

   <div class="container">
      <div class="mt-4">
         <table class="table table-striped text-center">

            <thead class="thead">

               <tr>

                  <th>Org ID</th>

                  <th>Org Name</th>

                  <th>Loc ID</th>

                  <th>Loc Name</th>

                  <th>Patient ID</th>

                  <th>First Name</th>

                  <th>Last Name</th>

                  <th>DOB</th>

                  <th>Physician</th>

                  <th>Status</th>

                  <th>Order date</th>

                  <th>Result date</th>

               </tr>

            </thead>

            <tbody>

               <tr ng-repeat="x in success_data">

                  <td>{{x.provider_Org_id}}</td>

                  <td>{{x.provider_Org_Name}}</td>

                  <td>{{x.provider_Org_Location_Id}}</td>

                  <td>{{x.provider_Org_Loc_Name}}</td>

                  <td>{{x.patient_Id}}</td>

                  <td>{{x.patient_First_Name}}</td>

                  <td>{{x.patient_Last_Name}}</td>

                  <td>{{x.patient_Dob}}</td>

                  <td>{{x.ehr_Doc_Name}}</td>

                  <td>{{x.order_Status}}</td>

                  <td>{{x.ehr_Order_Date}}</td>

                  <td>{{x.ehr_Result_Date}}</td>

               </tr>

            </tbody>

         </table>
      </div>
   </div>
</div>