<div ng-controller="errorController">
    <div ng-include="'view/header.html'"></div>
    <h1>Error Orders</h1>

    <div>

        <table class="table table-striped table-bordered">

            <thead class="error">

                <tr>

                    <th>Org ID</th>

                    <th>Org Name</th>

                    <th>Order Date</th>

                    <th>Order Status</th>

                </tr>

            </thead>

            <tbody>

                <tr ng-repeat="y in error_data">

                    <td>{{y.provider_Org_id}}</td>

                    <td>{{y.provider_Org_Name}}</td>

                    <td>{{y.ehr_Order_Date}}</td>

                    <td>{{y.order_Status}}</td>

                </tr>

            </tbody>

        </table>

    </div>
</div>