<div id="topheader" ng-controller="headerController">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Inventory Management System</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item nav_hover {{login}}" ng-class="{active: activeTab === 'login'}">
                        <a class="nav-link" href="#!">Login</a>
                    </li>
                    <li class="nav-item nav_hover {{login}}" ng-class="{active: activeTab === 'register'}">
                        <a class="nav-link" href="#!register">Register</a>
                    </li>
                    <li class="nav-item nav_hover {{clp}}" ng-class="{active: activeTab === 'clpHome'}">
                        <a class="nav-link" href="#!/clp_users">Home</a>
                    </li>
                    <li class="nav-item nav_hover {{clp}}" ng-class="{active: activeTab === 'patient'}">
                        <a class="nav-link" href="#!/patient">Patients</a>
                    </li>
                    <li class="nav-item nav_hover {{clp}}" ng-class="{active: activeTab === 'inventory' || activeTab === 'order'}">
                        <a class="nav-link" href="#!inventory" ng-click="screensName('inventory')">Inventory</a>
                    </li>
                    <li class="nav-item nav_hover {{clp}}" ng-class="{active: activeTab === 'administrator'}">
                        <a class="nav-link" href="#!/administrator">Administrator</a>
                    </li>
                    <li class="nav-item nav_hover {{clp}}" ng-class="{active: activeTab === 'reports'}">
                        <a class="nav-link" href="#!/reports">Reports</a>
                    </li>
                  
                    <li class="nav-item nav_hover {{alp}}" ng-class="{active: activeTab === 'clinic'}">
                        <a class="nav-link" href="#!clinics">Clinics</a>
                    </li>
                    <li class="nav-item nav_hover {{alp}}" ng-class="{active: activeTab === 'user'}">
                        <a class="nav-link" href="#!/clinicUsers">Users</a>
                    </li>
                    <li class="nav-item nav_hover {{alp}}" ng-class="{active: activeTab === 'orderInfo'}">
                        <a class="nav-link" href="#!/ordersInfo">Orders</a>
                    </li>
                    <li class="nav-item nav_hover {{alp}}" ng-class="{active: activeTab === 'shipping'}">
                        <a class="nav-link" href="#!/shipping">Shipping</a>
                    </li>
                    <li class="nav-item nav_hover {{elp}}" ng-class="{active: activeTab === 'successOrders'}">
                        <a class="nav-link" href="#!/elp_users">Success Orders</a>
                    </li>
                    <li class="nav-item nav_hover {{elp}}" ng-class="{active: activeTab === 'errorOrders'}">
                        <a class="nav-link" href="#!/error_orders">Error Orders</a>
                    </li>

                </ul>
            </div>
            <div class="{{notificationIcon}}">
                <button class="btn3"><i class="fa-sharp fa-solid fa-bell"></i></button>
            </div>
            <div style="border:0cap;">
                <button onclick="theme()" class="btn3" ><i id ="themeIcon"class="fa-sharp fa-solid fa-sun" ></i></button>
            </div>
            <div class="{{userIcon}}">
                <div class="icon">
                    <button onclick="userFunction()" class="btn1"><i class="fa-solid fa-circle-user"
                            style="font-size: 50px;"></i></button>
                </div>
                <div id="userDropDown" class="sub-menu">
                    <a class="sub-menu-link" href="#!edit_user">My Account</a>
                    <hr class="hr">
                    <div ng-controller="logoutCtrl">
                        <a class="sub-menu-link" ng-click="logout()" href="#!">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>