<div class="{{alp}}">
    <div class="header4">
        <div  class="mx-5"style="float: left;" ng-class="{'d-none': reportingLocation()!=true}">
 
            <select id="dropdownTab"class="dropdownTab3" ng-model="reportingDropdownTab" ng-change="reportingName(reportingDropdownTab)">
                <option label="Select a Report"  value="">Select a Report</option>
                <option class="text-center" value="clinicInventory">Clinic Inventory SnapShot</option>
               
            </select>
        </div>
    </div>
</div>