<div class="{{alp}}">
<div class="header3">
    <div class="mx-5" style="float: left;">
        <select id="dropdownTab"class="dropdownTab3" ng-model="setupDropdownTab" ng-change="setupName(setupDropdownTab)">
            <option label="Select" class="d-none"></option>
            <option class="text-center" value="setup">Corporate</option>
            <option class="text-center" value="product">Product</option>
        </select>
</div>


</div>
</div>


<!-- ng-class="{'d-none': setUpLocation()!=true}" -->