<div class="{{clp}}">
    <div style="height:40px;background-color : rgb(71, 16, 138)">
        <div style="float: right;">
            <label for="clinics" class="text-white mx-2">View :</label>
            <select id="clinics" ng-model="id" ng-change="clinicName(id)" >
                <option label="Select Clinic" class="d-none"></option>
                <option ng-repeat="x in clinicNames" value="{{x.locationId}}" class="text-center">{{x.name}}</option>
            </select>
        </div>
    </div>
</div>