<div class="{{alp}}">
<div class="header3">
    <div style="float: left;" ng-class="{'d-none': setUpLocation()!=true}">
        <label for="dropdownTab" class="text-white mx-2"><h5>Choose :</h5></label>
        <select id="dropdownTab"class="dropdownTab" ng-model="setupDropdownTab" ng-change="setupName(setupDropdownTab)">
            <option label="Select" class="d-none"></option>
            <option class="text-center" value="setup">Corporate</option>
            <option class="text-center" value="product">Product</option>
        </select>
</div>
</div>
</div>