<h1>User Roles</h1>

<div ng-controller="homeCtrl">

    <br>
    <br>
    <div style="display: flex; flex-direction: row; align-content: center;text-align: center;
        line-height: 75px;
        font-size: 50px;">
        <div style="margin: 60px ; padding: 80px;">
            <button ng-click="getUserForELP()">ELP</button>
        </div>
        <br>
        <br>
        <div style="margin: 60px ; padding: 80px;">
            <button ng-click="getUserForMLP()">MLP</button>
        </div>
        <br>
        <br>
        <div style="margin: 60px;padding: 80px;">
            <button ng-click="getUserForALP()">ALP</button>
        </div>
        <br>
        <br>
        <div style="margin: 60px;padding: 80px;">
            <button ng-click="getUserForCLP()">CLP</button>
        </div>
    </div>

</div>