<div ng-controller="loginCtrl">
    <div ng-include="'view/header.html'"></div>
    <div class="container">
        <h1 class="text-center">User Login</h1>
        <div class="sub2">
            <form name="frm" ng-submit="getRequest(submit.username)">
                <div class="d-flex justify-content-center mt-3">
                    <input type="email" name="myname" ng-model="submit.username" required minlength="6" maxlength="45"
                        placeholder="Username" class="text-center" />
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <input type="password" name="userPassword" ng-model="submit.password" required
                        ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{4,15}$/"
                        placeholder="Password" class="text-center" />
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <input type="submit" class="btn btn-primary" value="Login">
                    <span class="getResponse">{{ getResponse }}</span>
                </div>
            </form>
        </div>
    </div>
</div>