<div ng-controller="alp">
    <div ng-include="'view/header.html'"></div>
    <h1 class="text-center">Orders</h1><br>
    <div class="container">
        <div class="container d-flex justify-content-center mt-5">
            <table class="table table-striped text-center">
                <thead class="clinics">
                    <tr>
                        <th>Date and time</th>
                        <th>Order Id</th>
                        <th>PO Number</th>
                        <th>Ship-to-ID</th>
                        <th>Bill-to Name</th>
                        <th>Status</th>
                        <th class="bg-juniper">Itone</th>
                        <th class="bg-juniper">Flexon</th>
                        <th class="bg-juniper">Cosmelite Cream</th>
                        <th class="bg-juniper">Dose</th>
                        <th>Process</th>
                        <th>View Inventory</th>
                        <th>Cancel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in orderData">
                        <td class="p-3">{{x.activityDate}}</td>
                        <td class="p-3">{{x.displayId}}</td>
                        <td class="p-3">{{x.poNumber}}</td>
                        <td class="p-3">{{x.shiptoId}}</td>
                        <td class="p-3">{{x.shiptoName}}</td>
                        <td class="p-3">{{x.eventDesc}}</td>
                        <td class="p-3 bg-salt">{{x.quantityMap.itone}}</td>
                        <td class="p-3 bg-salt">{{x.quantityMap.flexon}}</td>
                        <td class="p-3 bg-salt">{{x.quantityMap['Cosmelite Cream']}}</td>
                        <td class="p-3 bg-salt">{{x.quantityMap.itone +x.quantityMap.flexon+x.quantityMap['Cosmelite Cream'] }}</td>
                        <td class="p-3"><a href="" class="btn" ng-class="{'disabled':x.eventDesc!='Submitted'}"><i class="fa-regular fa-circle-check link-danger"
                                    ng-click="changeOrderStatus(x.orderEventId)"></i></a></td>
                        <td class="p-3"><a data-bs-toggle="modal" data-bs-target="#orderInventoryData"><i class="fa-sharp fa-solid fa-box link-danger"
                                    ng-click="viewInventory(x.productId,x.locationId)"></i></a></td>
                        <td class="p-3"><a href="" class="btn" ng-class="{'disabled':x.eventDesc=='Cancelled'}"><i class="fa-regular fa-circle-xmark link-danger"
                                    ng-click="cancleOrder(x.orderEventId)"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <div class="modal fade" id="orderInventoryData" tabindex="-1" aria-labelledby="orderInventoryDataLable" aria-hidden="true">
                <div class="modal-dialog w-25">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="orderInventoryDataLable">Order Inventory</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table id="orderInventory" class="borderBlack">
                                <tr>
                                    <th class="px-3">Product Name</th>
                                    <th class="px-3">On Hand</th>
                                    <th class="px-3">Expired</th>
                                </tr>
                                <!-- <tr ng-repeat="x in orderInventoryData">
                                    <td ng-repeat="t in x">{{x}}</td>
                                </tr> -->
                                <tr>
                                    <td >{{orderInventoryData.productName}}</td>
                                    <td >{{orderInventoryData.onHand}}</td>
                                    <td >{{orderInventoryData.expiredQty}}</td>
                                </tr>
                                
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>