<div ng-controller="updateFacilityController">
    <div ng-include="'view/header.html'"></div>
    <div ng-include="'view/header3.html'"></div>
    <div class="container mt-3">
        <a class="corporateModify" href="#!product">Back to Product</a>
        <h3 class="text-center mt-3"> View Product</h3>
    </div>
    
    <div class="d-grid container shadow mt-3 w-50 p-3" style="font-size: 20px;" >
        <div class="row">
            <div class=" col-4 d-flex  flex-column ">
                <label>Product ID</label>
                <div>{{productSetup.productId}} </div>
            </div> 
        
            <div class=" col-4 d-flex flex-column  ">
                <label>Product Name</label>
                <div>{{productSetup.productName}} </div>
            </div> 
        
            <div class=" col-4 d-flex flex-column  ">
                <label>Product Code</label>
                <div> {{productSetup.ndc}}</div>
            </div> 
        </div>
        <div class="row">
            <div class=" col-4 d-flex flex-column p-2 ">
                <label>Manufacturer</label>
                <div> {{productSetup.manufacturer}}</div>
            </div> 
       
            <div class=" col-4 d-flex flex-column p-2 ">
                <label>Gtin</label>
                <div> {{productSetup.gtin}}</div>
            </div> 
        
            <div class=" col-4 d-flex flex-column p-2  ">
                <label>Status</label>
                <div> Active</div>
            </div> 
        </div>
    </div>
    </div>