<div ng-controller="alp">
    <div ng-include="'view/header.html'"></div>
    <div ng-include="'view/header3.html'"></div>
    <div>
        <h1 class="text-center">Product</h1>
    </div>
        <div class="container">
            <table id="" class="table table-striped text-center">
                <thead class="thead">
                    <tr>
                        <th>Product Name</th>
                        <th>Product Code</th>
                        <th>Manufacturer Name</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
