<div ng-controller="clp">
    <div ng-include="'view/header.html'"></div>
    <div ng-include="'view/header2.html'"></div>
    <div class="container">
        <h2 class="text-center mt-4">Kit Information</h2>
        <div class="container mt-3">
            <label for="">Serial Number:</label>
            <input type="number" list="serialList" class="dispense_input" placeholder="Serial Number"
                ng-model="serialNumber" ng-change="serialDetailsClp()"></input>
            <!-- <datalist id="serialList">
                <option ng-repeat="x in clinicDropdownName">{{x.shipToName}}</option>
            </datalist> -->
            <div>
                <div class="shadow">
                    <table class="table  table striped text-center mt-5"
                        ng-class="{'d-none':serialNumber==''||serialNumber==null ||serialDetails==null}">
                        <thead>
                            <tr class="">
                                <th class="">Dose</th>
                                <th>Serial Number</th>
                                <th>Expiry Date</th>
                                <th>Status</th>

                            </tr>

                        </thead>
                        <tbody>
                            <tr class="">
                                <td class="">{{serialDetails.productName}}</td>
                                <td>{{serialDetails.serialNumber}}</td>
                                <td>{{serialDetails.expiryDate}}</td>
                                <td>{{serialDetails.serialStatus}}</td>
                                <!-- <td class="col-2" ng-class="{'d-none':closedispenseTable == true }"><a
                                        class="text-danger text-decoration-none" style="cursor: pointer;"
                                        ng-click="closeTable()">Close</a></td>
                                <td class="col-2" ng-class="{'d-none': closedispenseTable == false }"><a
                                        class="text-primary text-decoration-none" style="cursor: pointer;"
                                        ng-click="viewTable()">View</a></td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- <div class="shadow">
                    <table class="table  table striped text-center "
                        ng-class="{'d-none': serialNumber==''||serialNumber==null || closedispenseTable == true }">
                        <thead>
                            <tr> -->
                                <!-- <th>Dose</th>
                                <th>Serial Number</th>
                                <th>Expiry Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>{{serialData.serialNumber}}</td>
                                <td>{{serialData.expiryDate}}</td>
                                <td>{{serialData.serialStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
                <div class="shadow">
                <table id="patientDetailsTable" class=" table  table striped text-center "ng-class="{'d-none':serialNumber==''||serialNumber==null ||serialDetails==null}">
                    <thead class="">
                        <tr>
                            <th class="px-3">Events</th>
                            <th class="px-3">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in serialDetails.serialEventDesc">
                            <td>{{x.status}}</td>
                            <td>{{x.eventDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <div>
          
            </div>