<div ng-controller="alp">
    <div ng-include="'view/header.html'"></div>
    <div ng-include="'view/header3.html'"></div>
    <div class="container mt-4 ">
        <div class="d-flex justify-content-between">
            <h3 style="font-size:25px;">Corporate Information </h3>
            <a class="corporateModify" href="#!editCorporate">Modify Corporate</a>
        </div>
        <hr>
        <div class="container shadow p-3 mt-2 ">
            <div class="d-grid" >
                <div class="row ">
                    <label class="col-3" for="">Corporate Name </label>
                    <div class="col-4">{{enterpriseData.name}}</div>
                </div>
                <div class="row ">
                    <label class="col-3" for="">Corporate Number </label>
                    <div class="col-4">{{enterpriseData.enterpriseId}}</div>
                </div>
                <br>

                <div class="row ">
                    <label class="col-3" for="">Address</label>
                    <div class="col-4">{{enterpriseData.addrLink1}},{{enterpriseData.addrLink2}}</div>
                    <label class="col-1" for="">GLN</label>
                    <div class="col-4">{{enterpriseData.gln}}</div>
                </div>
                <div class="row ">
                    <label class="col-3" for="">City</label>
                    <div class="col-4">{{enterpriseData.city}}</div>
                    <label class="col-1" for="">Phone</label>
                    <div class="col-4">{{enterpriseData.phone}}</div>
                </div>
                <div class="row ">
                    <label class="col-3" for="">State</label>
                    <div class="col-4">{{enterpriseData.state}}</div>
                    <label class="col-1" for="">Email</label>
                    <div class="col-4">{{enterpriseData.email}}</div>
                </div>
                <div class="row">
                    <label class="col-3" for=" ">ZipCode</label>
                    <div class="col-4">{{enterpriseData.zipcode}}</div>
                </div>
            </div>
        </div>
        <div class="d-grid mt-3">
            <div class="row">
                <div class="col-6">
                    <h3 style="font-size:25px;">Facilities</h3>
                </div>
                <div class="col-6">
                    <a class="corporateModify" style="float: right;" href="#!addfacility"> + Add Facility
                    </a>
                </div>
            </div>

            <table id="" class="table table-striped text-center mt-2 ">
                <thead class="thead">
                    <tr >
                        <th class="">Facility Name</th>
                        <th class="">Facility ID</th>
                        <th class="">Address</th>
                        <th class="">City</th>
                        <th class="">State</th>
                        <th class="">Zip Code</th>
                        <th class="">Edit</th>
                        <th class="">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in facilitydata">
                        <td>{{x.facilityName}}</td>
                        <td>{{x.facilityId}}</td>
                        <td>{{x.address}}</td>
                        <td>{{x.city}}</td>
                        <td>{{x.state}}</td>
                        <td>{{x.zipcode}}</td>
                        <td><a href="#!editfacility/{{x.facilityId}}" ><i class="fa-regular fa-pen-to-square link-danger"  ></i></a></td>
                        <td><i class="fa-regular fa-circle-xmark link-danger " ng-click="deletefacility(x.facilityId)" style="cursor: pointer;"></i></td>


                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-grid mt-3">
            <div class="row">
                <div class="col-6">
                    <h3 style="font-size:25px;">Users</h3>
                </div>
                <div class="col-6">
                    <a class="corporateModify" style="float: right;" href="#!addUserSetup"> + Add User</a>
                </div>
            </div>

            <table id="" class="table table-striped text-center mt-2 ">
                <thead class="thead">
                    <tr>
                        <th class="">Last Name</th>
                        <th class="">First Name</th>
                        <th class="">User Name</th>
                        <th class="">Role</th>
                        <th class="">Phone</th>
                        <th class="">Status</th>
                        <th class="">Edit</th>
                        <th class="">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in userDataSetup">
                        <td>{{x.lastName}}</td>
                        <td>{{x.firstName}}</td>
                        <td>{{x.username}}</td>
                        <td>{{x.jobTitile}}</td>
                        <td>{{x.phoneNo}}</td>
                        <td>Active</td>

                        <td><a href="#!editUserSetup/{{x.id}}" ><i class="fa-regular fa-pen-to-square link-danger "></i></a></td>
                        <td><i class="fa-regular fa-circle-xmark link-danger "  ng-click="deleteuser(x.id)" style="cursor: pointer;"></i></td>


                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</div>
</div>

</div>