<div ng-controller="shipping" class="background-whiteSnow">
    <div ng-include="'view/header.html'"></div>
    <div class="p-5 shippingScreen" ng-class="{'d-none':demoVar==true}">
        <div class="container">
            <div class="d-flex flex-column">
                <label for="" class="h5 text-center">Parent container Id (SSCC)</label>
                <div class="text-center">
                    <input type="text" class="w-50">
                </div>
                <label for="" class="h5 text-center">Please enter kit information</label>
                 
                <select class="text-center pt-2 " ng-model="scanShipmentDetails">
                    <option label="Select Serial Number" class="d-none"></option>
                    <option class="text-center" value="{{x.serialId}},{{x.productId}}" ng-repeat="x in serialId">{{x.serialId}}</option>
                </select>
           
            </div>
        </div>
        <div class="text-center mt-3">
            <input type="button" ng-click="demoFunction()" class="btn btn-danger" value="Continue">
        </div>
    </div>
    <div class="container mt-3">
        <div class="d-flex ">
            <div class="d-flex flex-column w-50">
                <label for="" class="h5 m-0 mb-2" >Ship to Customer</label>
                <input ng-change="orderIdFunction()" ng-model="clinicNameAndLocation" list="clinicList" class="w-50"></input>
                <datalist id="clinicList">
                    <option ng-repeat="x in clinicDropdownName">{{x.shipToName}}</option>
                </datalist>
                <!-- <label for="" ng-change="clinicShipToData">please Enter valid Id</label> -->
                <label for="" class="h5 m-0 mt-2">Order Id</label>
                <input type="number" class="w-50" ng-change="orderIdFunction()" ng-model="productIdAndOrderEventId" list="clinicOrderId">
                <datalist id="clinicOrderId">
                    <option ng-repeat="x in orderEventData">{{x.orderId}}</option>
                </datalist>
            </div>
            
            <div class="w-50">
                <label for="" class="h5">Ship-To</label>
                <div class="form-control d-flex flex-column shipInfo">
                    <div class="d-flex justify-content-between ">
                        <label>Name</label>
                        <input type="text" class="w-75 border-0" disabled value="{{clinicShipToData.name}}">
                    </div>
                    <div class="d-flex justify-content-between ">
                        <label>Address</label>
                        <input type="text" class="w-75 border-0" disabled value="{{clinicShipToData.addrLine1 + clinicShipToData.addrLine2 }}">
                    </div>
                    <div class="d-flex justify-content-between ">
                        <label>City|State|Zip</label>
                        <input type="text" class="w-75 border-0" disabled value="{{clinicShipToData.city +' '+ clinicShipToData.state +' '+ clinicShipToData.zipcode}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div>
            <h3>Scanned Shipment Details</h3>
        </div>
        <table class="table table-striped text-center">
            <thead class="thead">
                <tr class="">
                    <th class="w-25 ">Dose</th>
                    <th class="">Quantity</th>
                    <th class="w-25 ">Status</th>
                    <th class="w-50 ">Batch</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center"ng-repeat="singleShipmentData in shipmentDetails">
                    <td>{{singleShipmentData.dose}}</td>
                    <td>{{singleShipmentData.quantity}}</td>
                    <td>{{singleShipmentData.status}}</td>
                    <td>{{singleShipmentData.batch}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center mt-3">
        <input type="button" ng-click="shipOrder()" class="btn btn-danger" value="Ship">
    </div>
</div>