<div ng-controller="updateUser">
    <div ng-include="'view/header.html'"></div>
    <div>
        <h1 class="text-center">Update Clinic User</h1>
    </div>
    <form ng-submit="updateUserFileds()">
        <div class="row g-3 form-control d-flex justify-content-between w-50 m-auto">
            <div class="col-auto d-flex justify-content-between w-50">
                <label for=""> First Name </label>
                <input type="text" ng-model="updateUserData.firstName" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for=""> Last Name </label>
                <input type="text" ng-model="updateUserData.lastName" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for=""> Middle Name </label>
                <input type="text" ng-model="updateUserData.middleName" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">User Name </label>
                <input type="text" ng-model="updateUserData.userLogin" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Email</label>
                <input type="text" ng-model="updateUserData.email" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Job Title</label>
                <input type="text" ng-model="updateUserData.jobTitle" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Work Number</label>
                <input type="text" ng-model="updateUserData.workPhone" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">Mobile Number</label>
                <input type="text" ng-model="updateUserData.mobilePhone" required>
            </div>
            <div class="col-auto d-flex justify-content-between w-50">
                <label for="">password</label>
                <input type="text" ng-model="updateUserData.password" >
            </div>
            <input class="btn btn-primary" type="submit" name="updateUserData" value="Update User" />
        </div>
    </form>
</div>