<div ng-controller="updateEnterprise">
    <div ng-include="'/view/header.html'"></div>
    <div>
        <div>
            <h1 class="text-center">Update Clinic Details</h1>
        </div>
        <form name="userForm" ng-submit="updateEnterpriseForm()">
            <div class="row g-3 form-control d-flex justify-content-between w-50 m-auto">
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Clinic Name </label>
                    <input type="text" ng-model="updateEnterpriseFormData.name" required pattern="[a-zA-Z]{1,20}">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Phone Number</label>
                    <input type="text" ng-model="updateEnterpriseFormData.phone" pattern="[\d]{10}" maxlength="10">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Email</label>
                    <input type="email" ng-model="updateEnterpriseFormData.email">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Address Line 1</label>
                    <input type="text" ng-model="updateEnterpriseFormData.addrLine1">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Address Line 2</label>
                    <input type="text" ng-model="updateEnterpriseFormData.addrLine2">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">City</label>
                    <input type="text" ng-model="updateEnterpriseFormData.city">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="" class="">State</label>
                    <input type="Text" ng-model="updateEnterpriseFormData.state">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Country</label>
                    <input type="text" ng-model="updateEnterpriseFormData.country">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">State Code</label>
                    <input type="text" ng-model="updateEnterpriseFormData.stateCode">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Zipcode</label>
                    <input type="text" ng-model="updateEnterpriseFormData.zipcode">
                </div>
                <hr>
                <div class="col-auto">
                    <label for="">Active</label>
                    <input type="checkbox" ng-model="updateEnterpriseFormData.active">

                    <!-- <label for="">Ehr Implementation Status</label>
                    <input type="checkbox" ng-model="updateEnterpriseFormData.ehrImplementationStatus"> -->
                </div>
                <input class="btn btn-primary" type="submit" name="updateEnterpriseFormData" value="Update" />
            </div>
        </form>
    </div>
</div>