<div ng-controller="updateEnterprise">
    <!-- <div ng-include="'/view/header.html'"></div> -->
    <div>
        <div>
            <h1 class="text-center">Update Clinic Details</h1>
        </div>
        <form name="userForm" ng-submit="updateEnterpriseForm()">
            <div class="row g-3 form-control d-flex justify-content-between w-50 m-auto">
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Clinic Name </label>
                    <input type="text" ng-model="updateFormData.name" required>
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Phone Number</label>
                    <input type="text" ng-model="updateFormData.phone">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Email</label>
                    <input type="email" ng-model="updateFormData.email">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Address Line 1</label>
                    <input type="text" ng-model="updateFormData.addrLink2">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Address Line 2</label>
                    <input type="text" ng-model="updateFormData.addrLink2">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">City</label>
                    <input type="text" ng-model="updateFormData.city">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="" class="">State</label>
                    <input type="Text" ng-model="updateFormData.state">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Country</label>
                    <input type="text" ng-model="updateFormData.country">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">State Code</label>
                    <input type="text" ng-model="updateFormData.stateCode">
                </div>
                <div class="col-auto d-flex justify-content-between w-50">
                    <label for="">Zipcode</label>
                    <input type="text" ng-model="updateFormData.zipcode">
                </div>
                <hr>
                <div class="col-auto ">
                    <label for="">Scheduled Reports</label>
                    <input type="checkbox" ng-model="updateFormData.scheduledReports">
                </div>
                <div class="col-auto">
                    <label for="">Shared Patients</label>
                    <input type="checkbox" ng-model="updateFormData.sharedPatients">
                </div>
                <div class="col-auto">
                    <label for="">Active</label>
                    <input type="checkbox" ng-model="updateFormData.active">
                </div>
                <div class="col-auto">
                    <label for="">Ehr Implementation Status</label>
                    <input type="checkbox" ng-model="updateFormData.ehrImplementationStatus">
                </div>
                <div class="col-auto">
                    <label for="">Corporate</label>
                    <input type="checkbox" ng-model="updateFormData.isCorporate">
                </div>
                <input class="btn btn-primary" type="submit" name="updateFormData" value="Update" />
            </div>
        </form>
    </div>
</div>